<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
    <appSettings>
        <add key="Application Name" value="MyApplication" />
    </appSettings>

    <connectionStrings>  
      <add name="DbConnection"
              connectionString="server=localhost;user id=cat;password=password;database=catsdb"
              providerName="Npgsql.EntityFrameworkCore.PostgreSQL"/>  
    </connectionStrings> 
</configuration>